consul {
  address = "127.0.0.1:8500"

}

pid_file = "/var/run/consul-template.pid"

template {
  source = "/etc/consul-template.d/consul-template.tpl"
 destination = "/etc/haproxy/haproxy.cfg"
 command = "haproxy -f /etc/haproxy/haproxy.cfg -p /tmp/haproxy.pid -sf $(cat /tmp/haproxy.pid || echo '')"
}

log_level = "ERR"
